<span class="error ion-padding" style="font-size: 15px;color:red" *ngIf="(isSubmitted || !control?.pristine) && !control?.valid &&
  control?.errors?.required">
  {{fieldName}} is required.
</span>
<span class="error ion-padding" style="font-size: 15px;color:red" *ngIf="(isSubmitted || !control?.pristine) && !control?.valid &&
  control?.errors?.iscreditCard">
  {{ control?.errors?.creditCard }}
</span>
<span class="error ion-padding" style="font-size: 15px;color:red" *ngIf="(isSubmitted || !control?.pristine) && !control?.valid &&
  control?.errors?.isMinLength">
  {{ control?.errors?.isMinLength }}
</span>
<span class="error ion-padding" style="font-size: 15px;color:red" *ngIf="(isSubmitted || !control?.pristine) && !control?.valid &&
  control?.errors?.isMaxLength">
  {{ control?.errors?.isMaxLength }}
</span>
