<ion-item lines="full">
  <ion-label>{{ this.label }}</ion-label>
  <ion-input (input)="onChanged($event)" [formControl]="label" [id]="label" [name]="label" [value]="value"
    [type]="inputType" isRequired></ion-input>
</ion-item>
<app-validation-message [control]="control" [fieldName]="fieldName"></app-validation-message>
